*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #FDF4F5;
}
body{
	background-color: #FDF4F5;
	color: #C0DBEA;
}
.glyphicon{
	font-size: 30px;
	color:#FDF4F5; 
}

.center{
	width: 90%;
	background-color: #E8A0BF;

}
.container
{
	background-color: #BA90C6;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #FDF4F5;
}
.navbar-brand{
font-size: 30px;	
}
