*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #b66795;
}
body{
	background-color: #b66795;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#b66795; 
}

.center{
	width: 90%;
	background-color: #b6b268;

}
.container
{
	background-color: #b6b268;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #b66795;
}
.navbar-brand{
font-size: 30px;	
}
