*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: #FDF4F5;
color: #C93173;
}
body{
	background-color: #A86BB3;
	color: #D4E7F2;
}
.glyphicon{
	font-size: 30px;
	color:#C93173; 
}

.center{
	width: 90%;
	background-color: #E8A0BF;

}
.container
{
	background-color: #E8A0BF;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #FDF4F5;
}
.navbar-brand{
font-size: 30px;	
}
